.quadrado {
    width: 100%;
    max-width: 400px; 
    height: auto; 
    background-color: #74b8cc;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin: 15px 0; 
}

.quadrado img {
    width: 100%; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 15px;
    margin-bottom: 15px; 
}

.quadrado p, .quadrado p2, .quadrado p3 {
    font-size: 18px;
    color: #ffffff;
    margin: 10px 0; 
}

.quadrado p2, .quadrado p3 {
    color: #000000;
}

.quadrado1 {
    background-color: #18e4eb;
}

.quadrado2 {
    background-color: #df0808;
}

.quadrado-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
    padding: 0 15px; 
}

@media (max-width: 768px) {
    .quadrado-container {
        flex-direction: column;
        align-items: center; 
    }

    .quadrado {
        max-width: 90%; 
    }
}
